@tailwind base;
@tailwind components;
@tailwind utilities;

body, html { 
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

@layer base {
  :root {
    --background: 207.7 0% 92%;
    --foreground: 207.7 0% 6%;
    --card: 207.7 0% 92%;
    --card-foreground: 207.7 0% 11%;
    --popover: 207.7 0% 96%;
    --popover-foreground: 207.7 95% 2%;
    --primary: 207.7 100% 25.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 207.7 10% 74%;
    --secondary-foreground: 0 0% 0%;
    --muted: 245.7 10% 87%;
    --muted-foreground: 207.7 0% 36%;
    --accent: 245.7 10% 82%;
    --accent-foreground: 207.7 0% 11%;
    --destructive: 0 50% 34%;
    --destructive-foreground: 207.7 0% 92%;
    --border: 207.7 20% 56.4%;
    --input: 207.7 20% 24.4%;
    --ring: 207.7 88.7% 45.3%;
    --radius: 0.5rem;
    --sidebar-background: 208, 0%, 87%;
    --sidebar-foreground: 208, 0%, 5%;
    --sidebar-primary: 208, 100%, 23%;
    --sidebar-primary-foreground: 0, 0%, 100%;
    --sidebar-accent: 246, 10%, 78%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 208, 20%, 54%;
    --sidebar-ring: 198, 98%, 45%;
  }
  

  .dark {
    --background: 203.9 10% 6%;
    --foreground: 203.9 0% 92%;
    --card: 203.9 0% 2%;
    --card-foreground: 203.9 0% 92%;
    --popover: 203.9 10% 5%;
    --popover-foreground: 203.9 0% 92%;
    --primary: 203.9 54.2% 53.7%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 203.9 10% 12%;
    --secondary-foreground: 0 0% 100%;
    --muted: 241.9 10% 17%;
    --muted-foreground: 203.9 0% 61%;
    --accent: 241.9 10% 17%;
    --accent-foreground: 203.9 0% 91%;
    --destructive: 0 50% 34%;
    --destructive-foreground: 203.9 0% 92%;
    --border: 203.9 20% 24.4%;
    --input: 203.9 20% 24.4%;
    --ring: 203.9 88.7% 45.3%;
    --radius: 0.5rem;
    --sidebar-background: 204, 10%, 8%;
    --sidebar-foreground: 204, 0%, 100%;
    --sidebar-primary: 204, 54%, 43%;
    --sidebar-primary-foreground: 0, 0%, 0%;
    --sidebar-accent: 242, 10%, 14%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 204, 20%, 23%;
    --sidebar-ring: 194, 98%, 45%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}